---
import { Icon } from 'astro-icon/components';

interface Props {
	href?: string;
	icon: string;
	iconAttr?: object;
}

const { href, icon, iconAttr, ...props } = Astro.props;
---

<a class="fab target ripple" {href} {...props}>
	<Icon name={icon} {...iconAttr} width={24} height={24} />
</a>

<!-- {href ? (
	<a class="fab target ripple {size} {visual}" {target}  {hre class:extended={label}>
		<Icon {icon} />
		{label}
	</a>
) : (
	<button class="fab target ripple {size} {visual}" {onclick} {type} class:extended={label}>
		<Icon {icon} />
		{#if label}<span class="label">{label}</span>{/if}
	</button>
)} -->

<style lang="scss">
	.fab {
		align-items: center;
		background: #fff; /* !!! change after */
		border-radius: 50%;
		bottom: 16px;
		box-shadow: var(--elevation, none);
		color: black; /* !!! change after */
		cursor: pointer;
		display: inline-flex;
		font: var(--label-large);
		height: 56px;
		justify-content: center;
		position: fixed;
		width: 56px;
		right: 16px;
	}

	// SIZE OPTIONS 📏

	.extended {
		height: 56px;
		min-width: 80px;
		padding: 0 16px;
		width: auto;
	}
</style>
