---
import { Picture } from 'astro:assets';
import { gallery } from '../libs/stores';
import { photoList } from '../libs/helpers';

interface Props {
	key: string;
}

const { key } = Astro.props;

const { metadata } = (await gallery.getMetadata(key)) || {
	metadata: { ext: 'jpeg', alt: 'Broken image' },
};

const image = photoList[`/src/gallery/${key}.${metadata?.ext}`]();
---

<a href={`?photo=${key}`} id={key} class="thumbnail target ripple">
	<Picture
		class="photo"
		src={image}
		alt={`${metadata?.alt}`}
		formats={['avif', 'webp']}
		sizes={`(max-width: 415px) 240px, (max-width: 1200px) 400px`}
		widths={[240, 400]}
	/>
</a>

<style>
	.thumbnail {
		border-radius: 8px;
		cursor: pointer;
		overflow: hidden;
		position: relative;
	}

	.photo {
		aspect-ratio: 1 / 1;
		display: block;
		height: auto;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}
</style>
