---
import { Picture } from 'astro:assets';
import { gallery } from '../libs/stores';
import { photoList } from '../libs/helpers';

interface Props {
	key: string;
	alt: any;
	image: any;
}

const { key, alt, image } = Astro.props;

// const { metadata } = (await gallery.getMetadata(key)) ?? {};

// console.log(key, alt, image);

// const { metadata } = (await gallery.getMetadata(key)) ?? {};
// console.log(key, metadata?.ext, '<- here');
const i = await photoList[`/src/gallery/${key}.${alt?.ext}`]();
console.log(i.default);
// console.log(photoList, 'photo');

// console.log(metadata);

// const image = photoList[`/src/gallery/${key}.${metadata}.avif`]();

// console.log(image, 'image');
---

<a href={`?photo=${key}`} id={key} class="thumbnail target ripple">
	<Picture
		class="photo"
		src={image}
		alt={alt}
		formats={['avif', 'webp']}
		sizes={`(max-width: 415px) 240px, (max-width: 1200px) 400px`}
		widths={[240, 400]}
	/>
</a>
<div style="display: flex;">
	<slot />
</div>

<style>
	.thumbnail {
		border-radius: 8px;
		cursor: pointer;
		overflow: hidden;
		position: relative;
	}

	.photo {
		aspect-ratio: 1 / 1;
		display: block;
		height: auto;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}
</style>
