---
import Root from '../layouts/Root.astro';
import TopAppBar from '@components/TopAppBar.astro';
import IconButton from '@components/IconButton.astro';
import { Picture } from 'astro:assets';
import CommonButton from '@components/CommonButton.astro';
import FAB from '@components/FAB.astro';
import profilePic from '../gallery/profile.png';

interface Props {
	title: string;
}

const profile = await fetch(Astro.url.origin + '/data/profile.json')
	.then(res => res.json())
	.catch(() => {
		return {
			username: '',
			job: '',
			description: '',
			action_button_label: 'Get this website',
			action_button_link: '#',
		};
	});

const { title } = Astro.props;
---

<Root {title}>
	<TopAppBar>
		<section class="left-section">
			<img src="/favicon.svg" alt="Astro logo" width="40" height="40" />
			<h1 class="title">{title}</h1>
		</section>
		<IconButton href="/config" icon="tabler:settings-2" />
	</TopAppBar>
	<div class="content">
		<aside class="sidebar">
			<div class="profile-card">
				<Picture class="profile" src={profilePic} alt="Astro logo" width="150" height="150" />
				<div class="name">{profile.username}</div>
				<div class="profession">{profile.job}</div>
				<p class="description">{profile.description}</p>
				<CommonButton primary wide href={profile.action_button_link}>
					{profile.action_button_label}
				</CommonButton>
			</div>
		</aside>
		<main>
			<slot />
		</main>
		<footer>
			<section class="fab-area">
				<FAB href="#top" class="top" icon="tabler:arrow-up" />
			</section>
			<small>© {new Date().getFullYear()}. All rights reserved.</small>
		</footer>
	</div>
</Root>

<style>
	#app {
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
		padding: 16px;
	}

	.content {
		display: flex;
		flex-direction: column;
		transition: padding 0.3s;
		flex: 1;
		min-height: 100dvh;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 16px;
		border-right: solid 1px var(--outline);
		height: calc(100% - 64px);
		overflow-y: auto;
	}

	.profile-card {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.name {
		font: var(--headline-medium);
		margin-top: 12px;
	}

	.profession {
		color: var(--on-bg-alt);
		font: var(--title-medium);
	}

	@media (min-width: 840px) {
		aside {
			left: -300px;
			position: fixed;
			width: 300px;
			transform: translateX(100%);
			transition: transform 0.3s;
		}

		.content {
			padding-left: 300px;
		}
	}

	.profile {
		border-radius: 50%;
	}

	.description {
		flex: 1;
		font: var(--body-large);
		margin: 12px 0;
	}

	.left-section {
		display: flex;
		align-items: center;
	}

	.title {
		font: var(--title-large);
		margin-left: 8px;
	}

	footer {
		align-items: center;
		border-top: solid 1px var(--outline);
		display: flex;
		font: var(--body-large);

		height: 88px;
		padding: 0 16px;
	}
</style>
